html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #444446;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  letter-spacing: 0.025em; }

#content {
  margin: 0 auto;
  width: 80%; }

#create-employee-block h2 {
  font-size: 22px;
  color: #336699; }

#create-employee-block #search-emp-lnk {
  margin-bottom: 15px; }
  #create-employee-block #search-emp-lnk a {
    color: #336699;
    text-decoration: none;
    font-size: 14px; }
  #create-employee-block #search-emp-lnk span {
    background: url("https://cc3.dealer.com/cc7/crm-ui/1.170.0/img/search-reversed.png") no-repeat scroll 4px 2px rgba(140, 38, 38, 0); }

#create-employee-block table {
  border: 2px solid lightgray;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  #create-employee-block table th {
    background: #368;
    border-left: 1px solid #ddd;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
    overflow: hidden;
    padding: 3px 8px;
    white-space: nowrap;
    color: #fff;
    text-shadow: 0 1px 1px #444446;
    text-align: left;
    padding: 5px; }
  #create-employee-block table td {
    border: 1px solid lightgray;
    padding: 5px; }
  #create-employee-block table .input-text {
    border: none; }

#create-employee-block .form-buttons {
  margin: 20px; }
  #create-employee-block .form-buttons input {
    border-color: #4b8a0d;
    color: #4b8a0d;
    font-weight: normal;
    background-image: linear-gradient(to bottom, #f9f9f9, #efefef);
    border: 1px solid #777777;
    border-radius: 4px;
    box-shadow: 0 1px 0 white inset, 0 1px 0 rgba(255, 255, 255, 0.6);
    cursor: pointer;
    outline: none; }
  #create-employee-block .form-buttons input:hover {
    box-shadow: 0 1px 0 white inset, 0 0 2px rgba(106, 124, 146, 0.7), 0 1px 0 rgba(255, 255, 255, 0.6);
    outline: none; }
  #create-employee-block .form-buttons input:first-child {
    margin-right: 25px; }

#search-employee-block h2 {
  font-size: 22px;
  color: #336699; }

#search-employee-block #add-emp-link {
  margin: 20px 5px; }
  #search-employee-block #add-emp-link a {
    color: #336699;
    text-decoration: none;
    font-size: 14px; }

#search-employee-block table {
  border: 2px solid lightgray;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  #search-employee-block table td {
    padding: 15px;
    border: 1px solid lightgray; }
    #search-employee-block table td input {
      border: none; }
  #search-employee-block table .title {
    background: #368;
    color: #fff;
    text-align: left;
    font-weight: bold; }
  #search-employee-block table .middle {
    text-align: center;
    color: lightgray;
    font-size: 14px;
    font-family: monospace; }

#search-employee-block #search-submit {
  margin-top: 30px;
  border-color: #4b8a0d;
  color: #4b8a0d;
  font-weight: normal;
  background-image: linear-gradient(to bottom, #f9f9f9, #efefef);
  border: 1px solid #777777;
  border-radius: 4px;
  box-shadow: 0 1px 0 white inset, 0 1px 0 rgba(255, 255, 255, 0.6);
  cursor: pointer;
  outline: none; }
